.LoginFormContainer {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.LoginForm_title {
  text-align: center;
  margin-bottom: 24px;
  font: var(--font-xl);
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--login-title-color);
}

.LoginForm {
  display: flex;
  flex-direction: column;
}

.LoginForm_input {
  color: var(--primary-color);
  padding: 12px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font: var(--font-m);
  font-size: 18px;
  background-color: var(--bg-color-secondary);
}

.LoginForm_subtitle {
  text-align: center;
  margin: 8px;
  font: var(--font-m);
  font-size: 18px;

  a {
    text-decoration: none;
    color: var(--login-title-color);
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }
}

.LoginForm_btn {
  color: #fff;
  padding: 10px;
  background-color: var(--bg-btn-login);
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s ease-in-out;
}

.LoginForm_btn:hover {
  background-color: var(--bg-btn-login-hovered);
}

.LoginForm_errorTitle {
  margin: 2.5rem 0;
}
