.title {
  font: var(--font-xl);
  color: var(--primary-color);
}

.subtitle {
  font: var(--font-l);
  color: var(--default-color);
}

.error {
  .title {
    color: var(--primary-color);
  }

  .subtitle {
    color: var(--secondary-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}
