.title {
  font: var(--font-xl);
  color: var(--primary-color);
}

.subtitle {
  font: var(--font-l);
  color: var(--default-color);
}

.error {
  .title {
    font: var(--font-m);
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
  }

  .subtitle {
    font: var(--font-m);
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.textAdditional {
  font: var(--font-m);
  font-weight: 700;
}

.titleAdditional {
  font: var(--font-m);
  font-weight: 700;
}