.Modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: var(--bg-color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  min-width: 30%;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--bg-auth-color);
  transform: scale(0.7);
  opacity: 0.5;
  transition: 0.1s transform, 0.1s opacity;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
    opacity: 1;
  }
}

.isClosing {
  .content {
    transform: scale(0.7);
    opacity: 0.5;
  }
}
