.Sidebar {
  height: calc(90vh - var(--navbar-height));
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-destructive);
  position: relative;
  transition: width 0.2s ease-in;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.sidebar_item {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 500;
  color: var(--secondary-color);
  transition: all 0.4s ease;
  text-decoration: none;
}

.sidebar_item:hover {
  inset: 0;
  border-radius: 8px;
  color: var(--default-color);
  background-color: var(--bg-color-destructive);
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.lang {
  font: var(--font-l);
  font-weight: 500;
  transition: color 0.1s ease-in-out;
}

.lang:hover {
  color: var(--primary-color);
}

.collapsedBtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: var(--bg-color-destructive);
  border: 1px solid var(--bg-color-secondary);
  right: -16px;
  top: -16px;
  z-index: 10;
}

.themeIcon {
  display: flex;
  align-items: center;
}

.link {
  opacity: 1;
  transition: 0.2s opacity;
}

.sidebar_item_icon {
  display: flex;
  align-items: center;
  opacity: 1;
  scale: 0.9;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
