.Sidebar {
  height: calc(95vh - var(--navbar-height));
  width: var(--sidebar-width);
  border: 2px solid #4f4f4f;
  border-radius: 8px;
  padding: 20px;
  margin-left: 20px;
  background-color: #69696954;
  position: relative;
  transition: all 0.2s ease-in;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  padding: 10px;
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
  display: flex;
  justify-content: center;
}

.lang {
  margin-left: 12px;
}
