.readonly {
  opacity: 0.6;
}

.Input {
  color: var(--primary-color);
  padding: 12px;
  border: none;
  border-radius: 5px;
  font: var(--font-m);
  font-size: 18px;
  background-color: var(--bg-color-secondary);
}

.Input:focus {
  box-shadow: 0 0 71px 12px #6f54a133;
  outline: 2px solid var(--secondary-color);
}
