.app_dark_theme {
  --bg-color: #222;
  --bg-color-secondary: #3f3f3f;
  --bg-btn-color: #3535352f;
  --bg-btn-login: #6f54a1aa;
  --bg-btn-login-hovered: #6f54a1;
  --primary-color: #fff;
  --default-color: #e4e4e7;
  --secondary-color: #ffffff96;
  --login-title-color: #b38bff;
}
