.app_dark_theme {
  --bg-color: #000;
  --bg-color-destructive: #1b1b1bcf;
  --bg-color-secondary: #3f3f3f;
  --bg-auth-color: #1a1a1ad8;
  --bg-auth-shadow: #121212;
  --bg-btn-color: #7c7c7c2f;
  --bg-btn-login: #6f54a1aa;
  --bg-btn-login-hovered: #6f54a1;
  --primary-color: #fff;
  --default-color: #e4e4e7;
  --secondary-color: #ffffff96;
  --login-title-color: #b38bff;
  --skeleton-color: #3f3f3f;
  --skeleton-shadow: #0008;
  --code-border: #2a2a2acf;
  --article-card-bg: #1d1d1dcd;
}
