.app_light_theme {
  --bg-color: #fff;
  --bg-color-destructive: rgb(234 234 234 / 65.4%);
  --bg-color-secondary: #c8c8c8;
  --bg-auth-color: #e0e0e0;
  --bg-auth-shadow: #818181;
  --bg-btn-color: #e1e1e1;
  --bg-btn-login: #6f54a1;
  --bg-btn-login-hovered: #6f54a1aa;
  --primary-color: #111;
  --default-color: #444;
  --secondary-color: #888;
  --login-title-color: #b38bff;
  --skeleton-color: #e0e0e0;
  --skeleton-shadow: rgb(0 0 0 / 15%);
  --code-border: #e0e0e0ce;
}
