.ProfilePageHeader {
  max-width: 1520px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ProfilePageHeaderTitle {
  font: var(--font-xl);
}

.ProfilePageHeaderBtnGroup {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ProfilePageHeaderBtn,
.ProfilePageHeaderBtnCncl,
.ProfilePageHeaderBtnSv {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border: 0 solid var(--secondary-color);
  transition: all 0.2s ease-in-out;
}

.ProfilePageHeaderBtn:hover {
  background-color: var(--bg-btn-color);
  border-width: 0;
  border-color: transparent;
}

.ProfilePageHeaderBtnCncl:hover {
  // background-color: var(--bg-btn-color);
  background-color: #ae1a1ae6;
  border-width: 0;
  border-color: transparent;
}

.ProfilePageHeaderBtnSv:hover {
  // background-color: var(--bg-btn-color);
  background-color: #49d526d5;
  border-width: 0;
  border-color: transparent;
}
