.ProfileCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 10px 40px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--bg-btn-color);
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.ProfileCardInput {
  flex-grow: 1;
  max-width: 600px;
  color: var(--primary-color);
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  font: var(--font-m);
  font-weight: 500;
  background-color: var(--bg-color-secondary);
  transition: all 0.1s ease-in-out;
}

.ProfileCardInput:focus {
  box-shadow: 0 0 10px 2px rgb(111 84 161 / 20%);
  outline: none;
  border-color: var(--secondary-color);
  transform: scale(1.02);
}

.ProfileCardInput::placeholder {
  color: var(--text-color-secondary);
  opacity: 0.7;
}

.ReadOnly {
  pointer-events: none;
}

.ReadOnly:focus {
  border: none;
}

.AvatarWrapper,
.ProfileCardItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.AvatarWrapper {
  justify-content: center;
  margin-bottom: 20px;
}

.ProfileCardText {
  font: var(--font-m);
  font-size: 18px;
  font-weight: 500;
  margin-right: 1rem;
  min-width: 140px;
}
